/* Users Show Page Styles */
.job-title-icon {
    width: 30px;
    height: 30px;
    border: 2px solid #2e6da4;
    display: inline-block;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    text-align: center;
}

.well.profile-block {
    color: #fff;
    h3 {
        margin-top: 0;
    }
}

.well.profile-description {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.well.contact-info {
    background-color: #5bc0de;
    border-color: #46b8da;
}


.user-avatar {
    border-radius: 50%;
    -webkit-box-shadow: -2px 4px 21px -6px rgba(59,51,59,1);
    -moz-box-shadow: -2px 4px 21px -6px rgba(59,51,59,1);
    box-shadow: -2px 4px 21px -6px rgba(59,51,59,1);
    border: 2px solid white;
}

/* Users Index Page Styles */
.well.white-bg {
    background-color: white;
}